<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie_ticket_reservation.mapper.ScreeningMapper">

    <!-- 根据ID查询单个场次 -->
    <select id="selectById" resultType="com.example.movie_ticket_reservation.entity.Screening">
        SELECT
        id,
        movie_id   AS movieId,
        hall_name  AS hallName,
        start_time AS startTime,
        end_time   AS endTime,
        price,
        status,
        create_time AS createTime
        FROM screening
        WHERE id = #{id}
    </select>

    <!-- 根据电影ID查询场次 -->
    <select id="selectByMovieId" resultType="com.example.movie_ticket_reservation.entity.Screening">
        SELECT
        id,
        movie_id   AS movieId,
        hall_name  AS hallName,
        start_time AS startTime,
        end_time   AS endTime,
        price,
        status,
        create_time AS createTime
        FROM screening
        WHERE movie_id = #{movieId}
        ORDER BY start_time
    </select>

    <!--    <select id="selectByScreeningId"-->
    <!--            resultType="com.example.movie_ticket_reservation.entity.Seat">-->
    <!--        SELECT-->
    <!--        id,-->
    <!--        screening_id AS screeningId,-->
    <!--        row_num      AS rowNum,-->
    <!--        col_num      AS colNum,-->
    <!--        status-->
    <!--        FROM seats-->
    <!--        WHERE screening_id = #{screeningId}-->
    <!--        ORDER BY row_num, col_num-->
    <!--    </select>-->

    <!-- 查询所有场次（管理端用） -->
    <select id="selectAll" resultType="com.example.movie_ticket_reservation.entity.Screening">
        SELECT
        id,
        movie_id   AS movieId,
        hall_name  AS hallName,
        start_time AS startTime,
        end_time   AS endTime,
        price,
        status,
        create_time AS createTime
        FROM screening
        ORDER BY start_time
    </select>

    <!-- 新增场次 -->
    <insert id="insert" parameterType="com.example.movie_ticket_reservation.entity.Screening" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO screening(movie_id, hall_name, start_time, end_time, price, status)
        VALUES (#{movieId}, #{hallName}, #{startTime}, #{endTime}, #{price}, #{status})
    </insert>

    <!-- 更新场次 -->
    <update id="update" parameterType="com.example.movie_ticket_reservation.entity.Screening">
        UPDATE screening
        SET movie_id = #{movieId},
        hall_name = #{hallName},
        start_time = #{startTime},
        end_time = #{endTime},
        price = #{price},
        status = #{status}
        WHERE id = #{id}
    </update>

    <!-- 删除场次 -->
    <delete id="delete" parameterType="long">
        DELETE FROM screening WHERE id = #{id}
    </delete>

</mapper>